$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

nav {
  background-color: rgba(0, 0, 0, 0.0);
  height: 60px;
  z-index: 1000;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  padding-top: 5px;
  border: none;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 100;
  color: #121212;
}

#vs-selector, #network-selector {
  width: 400px;
}

#network {
  z-index: 0;
  min-height :100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #efefef;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  width: 100%;
}

#table-view {
  font-size: 9px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  color: #555555;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  z-index: 1000;
}
thead {
  tr {
    font-weight: 600;
    font-size: 18px;
  }
}

tbody tr td {
  color: #222222;
  background-color: rgba(10, 10, 10, 0.0) !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
