$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

nav {
  background-color: rgba(0, 0, 0, 0.0);
  height: 60px;
  z-index: 1000;
  color: #FFFFFF !important;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  padding-top: 5px;
  border: none;
  color: #dddddd !important;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 100;
  color: #dddddd !important;
}

#vs-selector, #network-selector {
  width: 400px;
}

#network {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #458BEE;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
}

#table-view {
  font-size: 11px;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 20px;
  color: #555555;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  z-index: 100;
}

thead {
  tr {
    font-weight: 500;
    font-size: 14px;
  }
}

tbody tr td {
  color: #222222;
  max-width: 400px !important;
  min-width: 150px !important;
  word-break: break-all;
}

/*
  Custom Buttons
*/
.button-bar {
  font-size: 10px;
  color: #555555;
  background-color: #DDDDDD;
  position: fixed;
  bottom: 1em;
  width: 100%;
  z-index: 200;
}
.custom-button {
  border: solid #666666 2px;
  color: #555555;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  font-size: 30px;
  z-index: 200;
  float: left;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 52px;
  width: 52px;
}


.overlay {

  overflow-x: none;
  overflow-y: scroll !important;
  font-size: 18px;
  font-weight: 100;
  border: solid #dddddd 1px;
  border-radius: 8px;
  color: #FFFFFF;
  background-color: rgba(55,55,55,0.85);
  position: fixed;
  top: 10px;
  right: 10px;

  padding-top: 10px;

  height: 20%;
  width: 400px;
  z-index: 200;

  h4 {
    font-weight: 100;
    padding: 10px;
    text-align: center;
    background-color: #EEEEEE;
    color: #444444;
  }

}

.float-table {
  overflow-x: none;
  overflow-y: scroll !important;
  padding: 40px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
