<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" ng-href="http://cytoscape.github.io/cytoscape.js/">cytoscape.js</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown" id="vs-selector">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <strong>Visual Style:</strong> {{ currentVS }}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="style in visualStyles" ng-click="switchVS(style.title)">
                        {{ style.title }}
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="network-selector">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <strong>Network:</strong> {{ currentNetwork }}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="networkName in networkNames" ng-click="switchNetwork(networkName)">
                        {{ networkName }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div id="network"></div>

<div class="button-bar">
    <button ng-click="toggleTableBrowser()" type="button" class="btn btn-default" data-toggle="button">Hide</button>
</div>

<div ng-show="browserState.show" class="table-browser">
    <div id="table-view">
        <tabset justified="true">
            <tab heading="Node">

                <table class="table table-striped table-bordered table-hover">

                    <thead>
                    <tr>
                        <td>SUID</td>
                        <td ng-repeat="columnName in columnNames">
                            {{columnName}}
                        </td>
                    </tr>
                    </thead>
                    <tbody data-ng-repeat="node in selectedNodes">
                    <tr>
                        <td>{{ node.id() }}</td>
                        <td ng-repeat="colName in columnNames">
                            {{node.data(colName)}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Edge">Edge Table</tab>
            <tab heading="Network">Network Table</tab>
        </tabset>
    </div>
</div>