<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<!--<nav class="navbar navbar-fixed-top">-->
    <!--<div class="container">-->
        <!---->
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a ng-href="#">Home</a></li>-->
            <!--<li>-->
                <!--<select class="combobox">-->
                    <!--<option>Network 1</option>-->
                    <!--<option value="PA">Pennsylvania</option>-->
                    <!--<option value="CT">Connecticut</option>-->
                    <!--<option value="NY">New York</option>-->
                    <!--<option value="MD">Maryland</option>-->
                    <!--<option value="VA">Virginia</option>-->
                <!--</select>-->
            <!--</li>-->
            <!--<li><a ng-href="http://www.cytoscape.org">Cytoscape</a></li>-->
            <!--<li><a ng-href="">Cytoscape.js</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<div id="network"></div>

<div id="table-view">
    <table class="table table-striped">

        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>ItemId</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody ng-repeat="node in nodes">
        <tr>
            <td>{{ node.data.id }}</td>
            <td>{{ node.data.name }}</td>
        </tr>
        </tbody>
    </table>
</div>