<div class="top">
    <div class="container">
        <div class="row">
            <h1>CyNetShare</h1>
        </div>
        <div class="row">
            <img id="cylogo" src="images/cy3logo_orange.svg" />
        </div>

        <div class="row padded">
            <p class="lead">
                An easy way to share your network data visualizations
            </p>
        </div>

        <div class="row padded">
            <div class="col-md-6 col-sm-12">
                <a href="http://idekerlab.github.io/cy-net-share/" class="button">
                        Project Web Site
                    </a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="#" class="button">
                        Documentation
                    </a>
            </div>
        </div>

        <div class="row">
            <tabset justified="true">
                <tab heading="Public Files">
                    <div class="tabpane">
                        <form class="form-horizontal" role="form" ng-submit="visualize(networkUrl, styleUrl)">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="networkUrl">Graph URL</label>

                                <div class="col-sm-9">
                                    <input autofocus autocomplete="on" required list="networks" type="url" class="form-control" id="networkUrl" placeholder="Enter Network File URL" ng-model="networkUrl">
                                    <datalist id="networks">
                                        <option value="https://dl.dropboxusercontent.com/u/161833/gal.json" label="Sample Yeast"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="styleUrl">Style URL (Optional)</label>

                                <div class="col-sm-7">
                                    <input type="url" class="form-control" id="styleUrl" placeholder="Enter Style URL" ng-model="styleUrl">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-success">Visualize</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>
                <tab heading="Gists">
                    <div class="tabpane">
                        <form class="form-horizontal" role="form" ng-submit="visualizeGist(gistId)">
                            <div class="form-group">
                                <label for="gistId" class="col-sm-2 control-label">Gist ID</label>

                                <div class="col-sm-7">
                                    <input class="form-control" id="gistId" placeholder="Enter Gist ID" ng-model="gistId">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-warning">Visualize Gist</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <span class="copyright">
            <p>
                &copy;2014 The Cytoscape Consortium
            </p>
            <p>
                Powered by <a href="">Cytoscape.js</a>
            </p>
        </span>
    </footer>
</div>
<script>
$(function() {
    $(window).resize(function() {
        $('.top').height($(window).height());
    });
    $(window).resize();
});
</script>
